.marker-list-container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.leaflet-menu {
    background: rgb(250, 250, 250);
    background: rgba(250, 250, 250, 0.9); 
}

.marker-list-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.marker-list-category-title {
    font-size: 1.4em;
}

.marker-list-marker {
    font-size: 1.3em;
}

.map-marker-title {
    font-size: larger;
}

.map-marker-description {
    max-width: 150px;
}

body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
    width: 100%;
}
